<img src="<%= @profile.avatar_url %>">

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>



<% if @profile.user == current_user %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
  <% else %>
    <%= form_with(model: @profile.user, method: :patch) do |form| %>
      
      <%= form.hidden_field :toggle_follow, value: true %>
      <%= form.button @profile.user.followers_exists?(current_user) ? 'Unfollow' : 'Follow',
        class: 'btn btn-success' %>
    <% end %>
  <% end %>                                   


