<h1>photo comments</h1>
<%= image_tag @photo.image_url, width: 100 %>
<%= @comments.each do |comment|  %>
<li><%= comment.content %></li>
<% end %> 

<%= form_width(model: [@photo, @comment], local: true) do |form| %>

 <% if @comment.errors.any? %>
  <div id="error_explanation">
  	<h2><%= pluralize(comment.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <div class="form-group">
	  <%= form.label :content %>
	  <%= form.text_area :content, class: 'form-control' %>
  </div>
  <div class="action form-group">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>