<p id="notice"><%= notice %></p>
<p>
  <strong>Image data:</strong>
  <img src="<%= @photo.image_url %>">
 
</p>
<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>
<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>
<p>
  <strong>Img:</strong>
  <%= @photo.image %>
</p>



<h3>Comments</h3>
<% if @photo.comments.any? %>
<ul>
  <% @photo.comments.each do |comment| %>
  <li>
  <%= comment.body %>
  <%= link_to 'x',
  photo_comment_path(@photo,comment),
  method: :delete,
  class:'command',
  data:{confirm: 'Are you sure?'}%>
</li>
<% end %>
</ul>
<% end %>

<%= form_for([@photo,@photo.comments.build]) do |f| %>
<p>
  <%= f.text_field :body %>
</p>
<p>
  <% f.submit %>
</p>
<% end %>
<% if user_signed_in? && @photo.user == current_user %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<%= link_to 'Comment', photo_comment_path(@photo) %>
<% end %>