<p id="notice"><%= notice %></p>
<p>
  <strong>Image data:</strong>
  <img src="<%= @photo.image_url %>">
  <%= @photo.image_data %>
</p>
<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>
<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>
<p>
  <strong>Img:</strong>
  <%= @photo.image %>
</p>
<% if user_signed_in? && @photo.user == current_user %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<%= link_to 'Comment', photo_comment_path(@photo) %>
<% end %>